body{
    background-image: url(../images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-color: hsl(230, 100%, 99%);
}
.attribution {
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 65%); 
}
